<!-- CONFIGURACION DE URI PARA CONECTAR A LA BD -->
URI_MONGO = 

<!-- CONFIGURACION DE PARA CARGA DE SUPER ADMIN -->
SUPER_ADMIN_EMAIL = super@super.com
SUPER_ADMIN_USUARIO = u_super
SUPER_ADMIN_NOMBRE = super
SUPER_ADMIN_PASSWORD = 111111
SUPER_ADMIN_ROLE = super_admin

<!-- CONFIGURACION DE JWT -->
JWT_SECRET = 
JWT_TIEMPO_EXPIRA = 
JWT_COOKIE_EXPIRA = 

MODO = developer