<!-- CONFIGURACION DE URI PARA CONECTAR A LA BD -->
URI_MONGO = 

<!-- CONFIGURACION DE PARA CARGA DE SUPER ADMIN -->}
<!-- EMAIL DEBE RESPETAR UN FORMATO CORRECTO, OBLIGATORIO USAR @ Y TERMINAR CON .com, .edu, etc -->
SUPER_ADMIN_EMAIL = super@super.com
SUPER_ADMIN_NOMBRE = super
SUPER_ADMIN_APELLIDO = apellido

<!-- EL PASSWORD DEBE SER AL MENOS DE 8 CARACTERES -->
SUPER_ADMIN_PASSWORD = 111111

<!-- USAR ESE NOMBRE DE ROL POR DEFECTO DE ROL PARA EVITAR ERRORES -->
SUPER_ADMIN_ROLE = superAdmin

<!-- CONFIGURACION DE JWT -->
JWT_SECRET = 
JWT_TIEMPO_EXPIRA = 
JWT_COOKIE_EXPIRA = 

MODO = developer